body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  height: 90%;
  border: 2px solid rgb(97, 96, 96);
  border-radius: 5%;
  margin: 20px auto;
  padding: 5%;
  text-align: center;
  background-color: rgb(47, 28, 86);
}
.container h1 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
  color: rgb(0, 255, 102);
}
.container p {
  font-weight: bold;
  font-size: 15px;
  color: rgb(10, 247, 42);
}
.container form {
  margin-top: 25px;
}
.info {
  width: 50%;
  margin-bottom: 15px;
  text-align: left;
}
.info label {
  color: white;
  display: block;
  margin-bottom: 5px;
}
.info input,
.info select,
.info textarea {
  border: 2px solid #e90606;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
}
.info select {
  width: 95%;
}
.info input[type="button"] {
  width: 200px;
  background-color: rgb(48, 109, 109);
  border: 1px solid rgb(216, 5, 19);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.info input[type="button"]:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}
.info :last-child {
  margin-bottom: 0;
}
